{% extends "base.html" %}

{% block content %}
    {% regroup events by created_at.date as events_by_day %}
    {% for date in events_by_day %}
        <h2>{{ date.grouper }}</h2>
        {% regroup date.list by subheader as events_by_subheader %}
        {% for subheader in events_by_subheader %}
            <h3>{{ subheader.grouper }}</h3>
            <ul>
                {% for event in subheader.list %}
                    <li><strong>{{ event.repo_name }}</strong>: {{ event.title }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}
