{% load static %}
{% load tz_detect %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rooster</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/rooster.css" %}" type="text/css" charset="utf-8" />
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% tz_detect %}
    </body>
</html>
